<ng-container *ngIf="conn.myaccount$ | async as myaccount">
  <ng-container *ngIf="conn.ping$ | async as ping">
    <article *ngIf="myaccount" title="Start a new game">
      <h2>Your selected deck</h2>
      <form style="display:flex;flex-direction:row;">
        <div style="flex:1;">
          Use P2P Deck<input type="checkbox" [checked]="deckP2P" (change)="changeDeckP2P()">
        </div>
        <div style="flex:1;text-align:center;">
          <button type="button" (click)="deckLeft()" class="vii">Deck Left</button>
        </div>
        <div style="flex:1;text-align:right;">
          <button type="button" (click)="deckRight()" class="vii">Deck Right</button>
        </div>
      </form>
      <br/>
      <app-deck-summary [deck]="getDeck(deckID, deckP2P, myaccount, ping)"></app-deck-summary>
      <br/>
      <button (click)="startVsAiGame(deckID, deckP2P)" class="vii">Play VS AI</button>
      <button (click)="startVsHumanQueue()" class="vii">Play VS Human</button>
    </article>
    <article *ngIf="myaccount" title="Your active games">
      <!-- <app-game-summary *ngFor="let game of myaccount?.games" [game]="game"></app-game-summary> -->
    </article>
  </ng-container>
</ng-container>
<article *ngIf="conn.isLoggedOut()" title="Start a new game">
  Please login to create a game!
</article>
