/* 002_fixes.css */
.float-right {
	float:right;
}
.pos-abs {
	position:absolute;
}
.pos-fix {
	position:fixed;
}
.pos-rel {
	position:relative;
}
.disp-iblock {
	display:inline-block;
}
.left0 {
	left:0%;
}
.right0 {
	right:0%;
}
.top0 {
	top:0%;
}
.bottom0 {
	bottom:0%;
}
.width100 {
	width:100%;
}
.height100 {
	height:100%;
}