/* 003_forms.css */
form.well {
	position: absolute;
	top: 15%;
	right: 15%;
	left: 15%;
}

form.well .input-group-lg {
	width: 100%;
}

form.well .input-group-lg .input-group-addon {
	width: 60px;
}
