.float-right {
	float:right;
}
.pos-abs {
	position:absolute;
}
.pos-fix {
	position:fixed;
}
.pos-rel {
	position:relative;
}
.disp-iblock {
	display:inline-block;
}
.disp-tcell {
	display:table-cell;
}
.disp-flex-col {
	display:flex;
	flex-direction:column;
}
.left0 {
	left:0%;
}
.right0 {
	right:0%;
	text-align:right;
}
.top0 {
	top:0%;
}
.bottom0 {
	bottom:0%;
}
.width100 {
	width:100%;
}
.height100 {
	height:100%;
}
.b {
	font-weight:bold;
}
input.form-error {
	border-color:red;
}
input.form-success {
	outline:2px solid green;
}
