#se-navbar {
	position:fixed;
	top:0px;
	width:100%;
	font-size:18px;
	background:linear-gradient(to bottom, #000000, #373737);
	z-index:1000;
}
#se-navbar-header {
	padding:0px;
	margin-right:21px;
}
#se-navbar[packs="0"] .data-control-packs, #se-navbar[games="0"] .data-control-games {
	display:none;
}
#se-navbar-header, #se-navbar-menu, #se-navbar li {
	float:left;
}
#se-navbar ul {
	list-style:none;
	margin-bottom: 0;
	padding-left:0px;
}
#se-navbar a {
	display:block;
	padding:16px;
	color:white;
	text-decoration: none;
}
a#se-navbar-header {
	padding:4px;
}
#se-navbar a.active {
	background:linear-gradient(to top, #373737, #737373);
}
#se-navbar-menu a {
	display:none;
}
#se-navbar-menu a.active {
	display:block;
}
#se-navbar a:hover {
	background-color:rgba(256,256,256,0.5);
}
body {
	margin-top:60px;
}
