.se-card {
	height:350px;
	width:250px;
	position:relative;
	display:inline-block;
	color:white;
	background-color:grey;
	white-space:initial;
}

.se-card-art {
	position:absolute;
	top:32px;
}

.se-card-banner {
	margin:2px;
	font-size:18px;
	border-radius:4px;
	line-height:21px;
	padding:2px;
	color:black;
	background-color:white;
}

.se-card .data-control-name {
	font-size:21px;
	line-height:32px;
	padding:0px 8px;
	background:rgba(0,0,0,0.5);
}

.se-card .data-control-art {
	top:10%;
	height:50%;
}

.se-card .data-control-description {
	top:60%;
	height:30%;
	border-radius:4px;
	margin:2px;
	padding:4px;
	color:black;
	background-color:white;
}

.se-card .data-control-description se-symbol {
	width:20px;
	height:20px;
}

.se-card .data-control-flavor {
	width:70%;
	min-height:5%;
	font-style:italic;
	margin:2px;
	font-size:11px;
}

.se-card .data-control-body-toggle, .se-card .data-control-type {
	display:none;
}
.se-card[body="true"] .data-control-body-toggle, .se-card[type] .data-control-type {
	display:initial;
}

.se-card .data-control-banner {
	bottom:40%;
	display:none;
}
.se-card[banner] .data-control-banner {
	display:initial;
}
