form.vii {
	font-size:32px;
}
form.vii legend {
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
}
.vii-form-group {
	position:relative;
	display:table;
	border-collapse:separate;
	height:60px;
	width:100%;
	margin-bottom:21px;
}
.vii-form-group span {
	display:table-cell;
	padding: 7px;
	width:200px;
	text-align:center;
}
.vii-form-group input {
	width:100%;
	height:100%;
	display:table-cell;
	border:1px solid grey;
	border-radius:2px;
}
.vii-form-detail {
	font-size:12px;
}
select.vii, input.vii {
	height:64px;
	font-size:32px;
	font-family:'Open Sans',Monaco,monospace;
}
button.vii {
	height:64px;
	font-family:'Macondo',cursive;
	font-size:21px;
	border:1px solid black;
	border-radius:7px;
	padding:0px 21px;
	box-shadow:black -1px -2px 4px inset;
}
button.vii-blue {
	color:royalblue;
	border-color:royalblue;
}
button.vii-green {
	color:green;
	border-color:green;
}
button.vii-puple {
	color:orchid;
	border-color:orchid;
}
button.vii-gold {
	border-color:gold;
}
