.se-card {
	height:360px;
	width:250px;
	font-size:20px;
	position:relative;
	display:inline-block;
	border:3px solid black;
	border-radius:5px;
	background-color:#373737;
	white-space:initial;
	overflow:hidden;
}
.se-card-title {
	height:8%;
	font-family:'Macondo',cursive;
	text-align: left;
	color:black;
	background:#f7f7f7;
	padding:2px;
	border-radius:8px;
}
.se-card [handle="costs"] img {
	height:100%;
	vertical-align:top;
}
.se-card [data-ctrl="name"] {
	float:right;
}
.se-card-art {
	top:8%;
	height:50%;
	max-width: 100%;
	position:absolute;
	left:-3px;
	border-radius:8px;
}
.se-card-banner {
	height:8%;
	font-family:'Open Sans', sans-serif;
	border-radius:8px;
	padding:0px 4px;
	color: black;
	background-color: white;
}
.se-card-banner[data-ctrl="type"] {
	font-family:'Macondo',cursive;
}
.se-card .se-card-powers {
	height:34%;
	top:58%;
	border-radius:8px;
	padding:0 0 0 4;
	font-family:'Open Sans', sans-serif;
	text-align: left;
	background: linear-gradient(to top, #eee, #bbb);
}
.se-card .se-symbol {
	width:10%;
	height:10%;
}
.se-card [data-ctrl="flavor"] {
	font-family:'Macondo',cursive;
	font-style:italic;
	font-size:12px;
}
.se-card [data-ctrl="body-toggle"], .se-card [data-ctrl="type"] {
	display:none;
}
.se-card[body="true"] [data-ctrl="body-toggle"], .se-card[type] [data-ctrl="type"] {
	display:initial;
}
.se-card [data-ctrl="banner"] {
	bottom:40%;
	display:none;
}
.se-card[banner] [data-ctrl="banner"] {
	display:initial;
}
.se-card[banner=""] [data-ctrl="banner"] {
	display:none;
}
