<!-- nav -->
<vii-nav></vii-nav>

<!-- notifications -->
<ng-container *ngIf="vii.messages$ | async as msgs">
  <div *ngIf="msgs.length>0" class="posa flxr" style="width:100%;">
    <div class="flx1"></div>
    <div class="talc not-panel">
      <div style="padding:21px;">
        <div *ngFor='let msg of msgs; let i = index'>
          <span class="fntc">{{msg.source}}</span>
          <span>&nbsp;:&nbsp;</span>
          <span>{{msg.message}}</span>
        </div>
        <button (click)="vii.messages$.next([])"><label>X</label></button>
      </div>
    </div>
    <div class="flx1"></div>
  </div>
</ng-container>

<content>
  <content-wrapper>
    <router-outlet></router-outlet>
  </content-wrapper>
</content>

<ng-container *ngIf="!cookies.check('allow')">
  <footer>
    <div class="fltr">
      <a (click)="clickAllowCookies()">Click here</a> to agree!
    </div>
    <div>By using this site, you agree that I can store cookies in your browser</div>
  </footer>
</ng-container>
