<ng-container *ngIf="userService.data$ | async as user">
  <article title="Purchase packs of cards">
    <h3>Your coins: {{user?.coins}}</h3>
  </article>
</ng-container>
<ng-container *ngIf="pingService.data$ | async as ping">
  <article *ngFor="let pack of ping?.packs" title="{{pack.name}}">
    <h2>Price of this pack: {{pack.cost}} coins</h2>
    <br/>
    <h2>Size of this pack: {{pack.size}} cards</h2>
    <br/>
    <h2>Cards in this pack</h2>
    <ng-container *ngFor="let cardid of pack.cards; let i = index">
      <ng-container *ngIf="i!=0">, </ng-container>{{pingService.getCard(ping, cardid).name}}
    </ng-container>
  </article>
</ng-container>
