<article>
  <article-header>Update History</article-header>
  <article-body>
    This page details changes to the game
    <br/><br/>
    A knowledge of gameplay is recommended before reading
    <br/><br/>
    <a routerLink="/intro">Click here</a> to access introduction
    <br/><br/>
    <a routerLink="/how-to">Click here</a> to access how-to
  </article-body>
  <article-footer>
    <a routerLink="/todo">Click here</a> to access my public todo list
  </article-footer>
</article>
<br />&nbsp;<br />
<article>
  <article-header>v0.0.3 2020-08-21</article-header>
  <article-body>
    <ul>
      <li><ul>Account Support
        <li>All accounts have been gifted with 21 coins</li>
        <li>Removed individual account-deck-based win tracking</li>
      </ul></li>
      <li><ul>Deck Builder
        <li>Added support for changing deck box cover</li>
        <li>Added basic support for global win/loss tracking</li>
        <li>This should work now</li>
      </ul></li>
      <li><ul>Queue
        <li>Add support for queue options</li>
        <li>Add option to queue for a match against another human</li>
      </ul></li>
      <li><ul>Play Mode
        <li>Add support for 6 new abilities</li>
        <li>Improve support for 3 updated abilities</li>
      </ul></li>
      <li><ul>Cards Added
        <li><ul>Handrails
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-1.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png">: Target Being becomes Awake</li>
        </ul></li>
        <li><ul>Fireball
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-2.png"></li>
          <li>Type: Spell</li>
          <li>Deal 3 Damage to Target Being</li>
        </ul></li>
        <li><ul>Golem
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-3.png"></li>
          <li>Type: Being 3 / 3</li>
        </ul></li>
        <li><ul>Panther
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-4.png"></li>
          <li>Type: Being 0 / 5</li>
          <li><img adapt="2" src="/img/icon/timer.png">: Enter Combat with Target Being</li>
        </ul></li>
        <li><ul>Counter
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-5.png"><img adapt="2" src="/img/icon/element-5.png"></li>
          <li>Type: Spell</li>
          <li>Stop any Play, and put that Card into the Past</li>
        </ul></li>
        <li><ul>Cloning Pool
          <li>Cost: <img adapt="2" src="/img/icon/element-6.png"><img adapt="2" src="/img/icon/element-6.png"><img adapt="2" src="/img/icon/element-6.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-6.png"><img adapt="2" src="/img/icon/element-6.png"><img adapt="2" src="/img/icon/element-6.png">: Target Being you own gains 1 Life. Create a new Being with Target's Card</li>
        </ul></li>
        <li><ul>Painful Memories
          <li>Cost: <img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-7.png"><img adapt="2" src="/img/icon/element-7.png"></li>
          <li>Type: Spell</li>
          <li>Each enemy Player loses 1 Life for every Being Card in your Past</li>
        </ul></li>
      </ul></li>
      <li><ul>Cards Changed
        <li><ul>Ifrit
          <li><img adapt="2" src="/img/icon/timer.png">: Deal 1 Damage to Target Being or Player</li>
          <li><i>removed karmic cost of ability, remove target being option</i></li>
        </ul></li>
        <li><ul>Pixie
          <li>Target Player or Being gains Life equal to my Life. Remove me from the Present</li>
          <li><i>updated text to read "Life"</i></li>
        </ul></li>
        <li><ul>Burn
          <li>Deal 2 Damage to Target Player or Being</li>
          <li><i>add target player option</i></li>
        </ul></li>
        <li><ul>Wormhole
          <li>Remove Target Being from the Present. Remove Target's Card from the Past, and add it to its owner's Hand</li>
          <li><i>no longer states that it creates a new card, it actually just moves the card from a pointer into a "wormhole"</i></li>
        </ul></li>
        <li><ul>Grace
          <li>Target Being gains 3 Life</li>
          <li><i>updated text to read "Life"</i></li>
        </ul></li>
        <li><ul>Memorialize
          <li>Target Being in your Past, add a Copy of Target's Card to your Hand</li>
          <li><i>updated text for clarity</i></li>
        </ul></li>
        <li><ul>Banhammer
          <li>Remove Target Card from the Past</li>
          <li><i>remove karmic cost, add Target Spell option</i></li>
        </ul></li>
        <li><ul>Burning Rage
          <li>Deal 1 Damage to each enemy Player</li>
          <li><i>capitalize "Damage"</i></li>
        </ul></li>
        <li><ul>Call the Banners
          <li>Add 3 Beings to your Present, each with 2 Attack and 2 Life</li>
          <li><i>update text to read "Life"</i></li>
        </ul></li>
        <li><ul>Symbiosis
          <li>Cost: <img adapt="2" src="/img/icon/element-4.png"><img adapt="2" src="/img/icon/element-4.png"></li>
          <li><i>increased the cost to play</i></li>
        </ul></li>
        <li><ul>Font of Life
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-6.png">: Target Being gains 1 Life</li>
          <li><i>update text to read "Life"</i></li>
        </ul></li>
        <li><ul>Necromancy 101
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-7.png">: Add Target Being from your Past to your Present, set its' Health to 1, you lose 1 Life</li>
          <li><i>reduce karmic cost of activated ability</i></li>
        </ul></li>
      </ul></li>
    </ul>
  </article-body>
</article>
<br />&nbsp;<br />
<article>
  <article-header>v0.0.2 2020-01-12</article-header>
  <article-body>
    <ul>
      <li><ul>General
        <li>This version contains known and unknown issues</li>
        <li>I will apply fixes as I identify these, and you can let me know of any issues found by visiting the project on Github</li>
      </ul></li>
      <li><ul>Account Support
        <li>All accounts have been gifted with 21 coins</li>
        <li>Added support for email change</li>
        <li>Added support for password change</li>
      </ul></li>
      <li><ul>Deck Builder
        <li>Added initial support</li>
      </ul></li>
      <li><ul>Play Mode
        <li><ul>Gameplay
          <li>Playing Being Cards will now create a Being Token, and playing Item Cards will now create Item Tokens, in the Present</li>
          <li>Each Sunrise will allow every Player to create an Element, and Trigger Sunrise on every Token</li>
          <li>Each Sunset will Trigger Sunset on every Token</li>
        </ul></li>
        <li><ul>VS AI
          <li>Added AI ability targeting</li>
          <li>Added AI decision prioritization</li>
        </ul></li>
      </ul></li>
      <li><ul>Cards Added
        <li><ul>Banhammer
          <li>Cost: <img adapt="2" src="/img/icon/element-1.png"><img adapt="2" src="/img/icon/element-1.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-1.png">: Remove Target Being or Item from the Past</li>
        </ul></li>
        <li><ul>Burning Rage
          <li>Cost: <img adapt="2" src="/img/icon/element-2.png"><img adapt="2" src="/img/icon/element-2.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/sunset.svg">: Burning Rage does 1 Damage to each enemy Player</li>
        </ul></li>
        <li><ul>Call the Banners
          <li>Cost: <img adapt="2" src="/img/icon/element-3.png"><img adapt="2" src="/img/icon/element-3.png"><img adapt="2" src="/img/icon/element-3.png"></li>
          <li>Type: Spell</li>
          <li>Add 3 Beings to your Present, each with 2 Attack and 2 Health</li>
        </ul></li>
        <li><ul>Symbiosis
          <li>Cost: <img adapt="2" src="/img/icon/element-4.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/sunrise.svg">: Target Being gets 1 Attack</li>
        </ul></li>
        <li><ul>Crystal Ball
          <li>Cost: <img adapt="2" src="/img/icon/element-5.png"><img adapt="2" src="/img/icon/element-5.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png">: Look at the next Card in your Future, then you can choose to Shuffle your Future</li>
        </ul></li>
        <li><ul>Font of Life
          <li>Cost: <img adapt="2" src="/img/icon/element-6.png"><img adapt="2" src="/img/icon/element-6.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-6.png">: You gain 1 Life</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-6.png">: Target Being gains 2 Health</li>
        </ul></li>
        <li><ul>Necromancy 101
          <li>Cost: <img adapt="2" src="/img/icon/element-7.png"><img adapt="2" src="/img/icon/element-7.png"><img adapt="2" src="/img/icon/element-7.png"></li>
          <li>Type: Item</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-0.png"><img adapt="2" src="/img/icon/element-7.png"><img adapt="2" src="/img/icon/element-7.png">: Add Target Being from your Past to your Present, set its' Health to 1, you lose 1 Life</li>
        </ul></li>
      </ul></li>
      <li><ul>Cards Changed
        <li><ul>Time Runner
          <li>Type: Being 0 / 2</li>
          <li><img adapt="2" src="/img/icon/element-1.png"><img adapt="2" src="/img/icon/timer.png">: Draw a Card</li>
          <li><i>added karmic cost to ability, added 1 health to compensate</i></li>
        </ul></li>
        <li><ul>Ifrit
          <li>Type: Being 2 / 1</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/element-2.png">: Deal 1 Damage to Target Being or Player</li>
          <li><i>added turn requirement to ability, added 1 attack to compensate</i></li>
        </ul></li>
        <li><ul>Vine Spirit
          <li>Type: Being 0 / 2</li>
          <li><i>reduced attack, add health to respond to the change to Sunrise Triggers</i></li>
        </ul></li>
        <li><ul>Pixie
          <li>Type: Being 1 / 2</li>
          <li><i>add health to compensate buff to aggro strategies</i></li>
        </ul></li>
        <li><ul>Nightmare Ader
          <li>Type: Being 0 / 3</li>
          <li><i>add health to compensate buff to aggro strategies</i></li>
        </ul></li>
        <li><ul>Wormhole
          <li>Target Being's Owner adds a Copy of it to their Hand, remove it from the Present</li>
          <li><i>updated behavior for game tokens</i></li>
        </ul></li>
        <li><ul>Grace
          <li>Target Being gains 3 Health</li>
          <li><i>add health to compensate buff to aggro strategies</i></li>
        </ul></li>
      </ul></li>
      <li><ul>Free to Play Decks
        <li><i>removed previous Free to Play Decks</i></li>
        <li>AllCards: 1 copy of each Card</li>
        <li>WhiteGold: 3 of each Time Runner, Zealot, New Element, Burn, Energize, Banhammer, Call the Banners</li>
        <li>GreenGold: 3 of each Zealot, Vine Spirit, Energize, Inspire Growth, Grace, Call the Banners, Symbiosis</li>
        <li>RedBlue: Ifrit, Water Dancer, Nightmare Ader, Burn, Wormhole, Burning Rage, Crystal Ball</li>
        <li>ItemTech: Time Runner, New Element, Burn, Banhammer, Burning Rage, Symbiosis, Crystal Ball</li>
        <li>Sk8_H1: Pixie, Nightmare Ader, Grace, Memorialize, Symbiosis, Font of Life, Necromancy 101</li>
        <li>KetchupMustard: Ifrit, Zealot, Burn, Energize, Memorialize, Burning Rage, Call the Banners</li>
      </ul></li>
    </ul>
  </article-body>
</article>
<br />&nbsp;<br />
<article>
  <article-header>v0.0.1 2019-10-07</article-header>
  <article-body>
    <ul>
      <li>New, re-engineered website</li>
      <li><ul>Account Support
        <li><ul>Database Reset
          <li>Reserve your username today!</li>
        </ul></li>
        <li><ul>E-mail
          <li>This value is not yet used</li>
        </ul></li>
      </ul></li>
      <li><ul>Play Mode
        <li>Added initial support</li>
        <li><ul>VS AI
          <li>Added initial support</li>
          <li>Known issue: ability targeting</li>
        </ul></li>
      </ul></li>
      <li><ul>Cards Added
        <li><ul>Time Runner
          <li>Cost: <img adapt="2" src="/img/icon/element-1.png"></li>
          <li>Type: Being 0 / 1</li>
          <li><img adapt="2" src="/img/icon/timer.png">: Draw a Card</li>
        </ul></li>
        <li><ul>Ifrit
          <li>Cost: <img adapt="2" src="/img/icon/element-2.png"></li>
          <li>Type: Being 1 / 1</li>
          <li><img adapt="2" src="/img/icon/element-2.png">: Deal 1 Damage to Target Being or Player</li>
        </ul></li>
        <li><ul>Zealot
          <li>Cost: <img adapt="2" src="/img/icon/element-3.png"></li>
          <li>Type: Being 2 / 2</li>
        </ul></li>
        <li><ul>Vine Spirit
          <li>Cost: <img adapt="2" src="/img/icon/element-4.png"></li>
          <li>Type: Being 1 / 1</li>
          <li><img adapt="2" src="/img/icon/sunrise.svg">: Vine Spirit gets 1 Attack</li>
        </ul></li>
        <li><ul>Water Dancer
          <li>Cost: <img adapt="2" src="/img/icon/element-5.png"></li>
          <li>Type: Being 1 / 1</li>
          <li><img adapt="2" src="/img/icon/timer.png">: Target Being becomes Asleep</li>
        </ul></li>
        <li><ul>Pixie
          <li>Cost: <img adapt="2" src="/img/icon/element-6.png"></li>
          <li>Type: Being 1 / 1</li>
          <li><img adapt="2" src="/img/icon/trash.svg">: Target Being or Player gains Health equal to my Health</li>
        </ul></li>
        <li><ul>Nightmare Ader
          <li>Cost: <img adapt="2" src="/img/icon/element-7.png"></li>
          <li>Type: Being 0 / 1</li>
          <li><img adapt="2" src="/img/icon/timer.png"><img adapt="2" src="/img/icon/trash.svg">: Target Being becomes Asleep</li>
        </ul></li>
        <li><ul>New Element
          <li>Cost: <img adapt="2" src="/img/icon/element-1.png"></li>
          <li>Type: Spell</li>
          <li>Create a new Element</li>
        </ul></li>
        <li><ul>Burn
          <li>Cost: <img adapt="2" src="/img/icon/element-2.png"></li>
          <li>Type: Spell</li>
          <li>Deal 2 Damage to Target Being</li>
        </ul></li>
        <li><ul>Energize
          <li>Cost: <img adapt="2" src="/img/icon/element-3.png"></li>
          <li>Type: Spell</li>
          <li>Target Being or Item becomes Awake</li>
        </ul></li>
        <li><ul>Inspire Growth
          <li>Cost: <img adapt="2" src="/img/icon/element-4.png"></li>
          <li>Type: Spell</li>
          <li>Target Being gets 1 Attack</li>
        </ul></li>
        <li><ul>Wormhole
          <li>Cost: <img adapt="2" src="/img/icon/element-5.png"></li>
          <li>Type: Spell</li>
          <li>Add Target Being to its owners Hand, and remove it from the Present</li>
        </ul></li>
        <li><ul>Grace
          <li>Cost: <img adapt="2" src="/img/icon/element-6.png"></li>
          <li>Type: Spell</li>
          <li>Target Being gets 2 Health</li>
        </ul></li>
        <li><ul>Memorialize
          <li>Cost: <img adapt="2" src="/img/icon/element-7.png"></li>
          <li>Type: Spell</li>
          <li>Add a Card to your Hand that is a Copy of Target Being Card in your Past</li>
        </ul></li>
      </ul></li>
      <li><ul>Free to Play Decks
        <li>AllCards: 3x every Card</li>
        <li>WREG: 3x Time Runner, 3x Ifrit, 3x Zealot, 3x Vine Spirit, 3x New Element, 3x Burn, 3x Energize</li>
        <li>GBVK: 3x Vine Spirit, 3x Water Dancer, 3x Pixie, 3x Nightmare Ader, 3x Wormhole, 3x Grace, 3x Memorialize</li>
      </ul></li>
    </ul>
  </article-body>
</article>
<br />&nbsp;<br />
<article>
  <article-header>That's all folks</article-header>
  <article-body>
    There are no more patch notes, <a routerLink="/">click here</a> to go home
  </article-body>
</article>
<br />&nbsp;<br />
