<br/>&nbsp;<br/>
<article>
  <article-header>BUGFIX 2019-10-09</article-header>
  <article-body>
    <ul>
      <li><a routerLink="">intro</a> page now shows cards correctly</li>
      <li>updates page layout fixed</li>
      <li>splash page updated for clarity</li>
    </ul>
  </article-body>
</article>
<br/>&nbsp;<br/>
<article>
  <article-header>ALPHA 2019-10-07</article-header>
  <article-body>
    This version introduces the Play Mode
    <br/>&nbsp;<br/>
    <ul>Cards Added
      <li>Time Runner</li>
      <li>Ifrit</li>
      <li>Zealot</li>
      <li>Vine Spirit</li>
      <li>Water Dancer</li>
      <li>Pixie</li>
      <li>Nightmare Ader</li>
      <li>New Element</li>
      <li>Burn</li>
      <li>Energize</li>
      <li>Inspire Growth</li>
      <li>Wormhole</li>
      <li>Grace</li>
      <li>Memorialize</li>
    </ul>
    <a routerLink="/cards">Click here</a> to view the card set
    <br/>&nbsp;<br/>
    Database was reset with this patch, so please make a new account
    <br/>&nbsp;<br/>
    Account email does nothing yet, and it will be possible to change it later. Lock in your usernames now!
  </article-body>
</article>
<br/>&nbsp;<br/>
<article>
  <article-body>
    There are no more patch notes, <a routerLink="/">click here</a> to go home
  </article-body>
</article>
<br/>&nbsp;<br/>
