<article title="2019-10-07">
  This version introduces the Play Mode
  <br/><br/>
  <ul>Cards Added
    <li>Time Runner</li>
    <li>Ifrit</li>
    <li>Zealot</li>
    <li>Vine Spirit</li>
    <li>Water Dancer</li>
    <li>Pixie</li>
    <li>Nightmare Ader</li>
    <li>New Element</li>
    <li>Burn</li>
    <li>Energize</li>
    <li>Inspire Growth</li>
    <li>Wormhole</li>
    <li>Grace</li>
    <li>Memorialize</li>
  </ul>
  <a routerLink="/cards">Click here</a> to view the card set
  <br/><br/>
  Database was reset with this patch, so please make a new account
  <br/><br/>
  Account email does nothing yet, and it will be possible to change it later. Lock in your usernames now!
</article>
<br/><br/>
<article title="...">
  There are no more patch notes, <a routerLink="/">click here</a> to go home
</article>
<br/><br/>
