<article>
  <article-header>What's next?</article-header>
  <article-body>
    <ul>Version 3
      <li>each color will receive 2 more cards</li>
      <li>featuring 6 illustrations by me, and 4 by Leah</li>
      <li><i>still seeking artwork for 2 more cards</i></li>
    </ul>
    <ul>x
      <li>Add Multiple-Target capability to Powers (coming with new cards)</li>
      <li>Enable PvP / queue</li>
      <li>Add credit charging functionality</li>
      <li>Re-draw some of the more basic drawings</li>
    </ul>
  </article-body>
  <article-footer>
    <a href="https://github.com/zachtaylor/7elements">Click here</a> to view the project on Github♥
  </article-footer>
</article>
