<article>
  <article-header>What's next?</article-header>
  <article-body>
    <ul>
      <li>Re-draw some of the more basic drawings</li>
      <li>Add credit charging functionality</li>
      <li>Split game instance to new proc/dedicated server</li>
      <li>Add Multiple-Target capability to Powers (coming with new cards)</li>
    </ul>
  </article-body>
  <article-footer>
    <a href="https://github.com/zachtaylor/7elements">Click here</a> to view the project on Github♥
  </article-footer>
</article>
