.disp {
	font-size:21px;
}
.footer {
	position:fixed;
	bottom:3%;
	height:10%;
	width:94%;
	left:3%;
	right:3%;
}
.footer button {
	position:absolute;
	width:30%;
	height:100%;
}
#search-progress, #menu-queue {
	display:none;
}

#menu-queue span {
	font-size:21px;
	line-height:32px;
}
#menu-queue button {
	position:absolute;
	left:25%;
	width:50%;
}
#search-progress {
	height:100px;
	width:100%;
}
#search-progress span {
	font-size:60px;
	line-height:100px;
}
