<ng-container *ngIf="seat&&state">
  <div class="flxr">
    <span class="flx1">
      <img adapt="1" src="/img/icon/heart.svg">
      <b>{{seat.life}}</b>
      <img adapt="1" src="/img/icon/cards.png">
      <b>{{seat.future}}</b>
      <img adapt="1" src="/img/icon/hand.svg">
      <b>{{seat.hand}}</b>
      <img adapt="1" src="/img/icon/trash.svg">
      <b>{{objectKeys(seat.past).length}}</b>
    </span>
    <span class="flx1 flxr talc">
      <span class="flx1">
        <img adapt="1" *ngIf="!state.reacts[username]" src="/img/icon/awake.svg">
        <img adapt="1" *ngIf="state.reacts[username]" src="/img/icon/asleep.svg">
      </span>
      <span class="flx1">{{username}}</span>
      <span class="flx1">
        <ng-container *ngIf="state.seat==username">
          <img adapt="1" src="/img/icon/{{getTitleIcon()}}.svg">
          <span>{{getTitleText()}}</span>
          <span>&nbsp;({{timer}})</span>
        </ng-container>
      </span>
    </span>
    <span class="flx1 talr karma">
      <ng-container *ngFor="let eid of seat.elements | mapKeys">
        <img *ngFor="let ok of seat.elements[eid]" adapt="1"
          [ngClass]="{'active': ok, 'inactive': !ok}" src="/img/icon/element-{{eid}}.png">
      </ng-container>
    </span>
  </div>
  <span class="posr">
    <span class="posa flxr w100">
      <span class="flx1"></span>
      <span class="flx1 talc">
      </span>
      <span class="flx1"></span>
    </span>
  </span>
  <carousel class="h100 dinl flx1">
    <app-game-token *ngFor="let tokenid of present" [tokenid]="tokenid" (click)="clickToken(tokenid)"></app-game-token>
  </carousel>
</ng-container>
