:host {
  display:flex;
  flex:1;
  flex-direction:column;
  position:relative;
  background-color:#f7f7f7;
  overflow:auto;
  height:100%;
}
.channelName {
  padding:21px;
  line-height:24px;
  font-size:21px;
  font-weight:bold;
  border:2px solid black;
  border-radius:5px;
}
.channelName.active {
  background:linear-gradient(to bottom, #ffffff, #cccccc);
}
.chatLine {
  padding:2px;
  list-style:none;
}
.chatLineTime {
  color:gray;
}
.chatLineUsername {
  color:blue;
}
.chatLineUsername.self {
  color:red;
}
.chatLineUsername.admin {
  color:blueviolet;
}
.chatLineMessage {}
