:host {
  width:50px;
  position:relative;
  user-select:none;
  display:inline-block;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
input[type="checkbox"] {
  display: none;
}
label {
  display:block;
  overflow:hidden;
  cursor:pointer;
  border:2px solid #777777;
  border-radius:12px;
}
label .inner {
  display:block;
  width:200%;
  margin-left:-100%;
  transition:margin 0.3s ease-in 0s;
}
label .inner:before, label .inner:after {
  display:block;
  float:left;
  width:50%;
  height:20px;
  padding:0;
  line-height:20px;
  color:white;
  box-sizing:border-box;
}
label .inner:before {
  content: "";
  padding-left:3px;
  background-color: #77FF77;
  color: #FFFFFF;
}
label .inner:after {
  content:"";
  padding-right: 3px;
  background-color:#FFFFFF;
  color:#666666;
  text-align:right;
}
label .switch {
  display:block;
  width:7px;
  height:7px;
  margin:9px;
  background:#FFFFFF;
  position:absolute;
  top:0;
  bottom:0;
  right:25px;
  border:2px solid #777777;
  border-radius:7px;
  transition:all 0.3s ease-in 0s; 
}
input[type="checkbox"]:checked + label .inner {
  margin-left:0;
}
input[type="checkbox"]:checked + label .switch {
  right: 0px; 
}
