<div class="panel">
  <span class="panel-label fntb">{{card?.name}}</span>
  <div class="fltr">
    <span class="card-cost" *ngFor="let ceid of card?.costs | mapKeys">
      <img *ngFor="let i of card?.costs[ceid] | count" src="/img/icon/element-{{ceid}}.png">
    </span>
  </div>
</div>
<img class="art" [src]="card?.image">
<div class="panel tall">
  <span class="panel-label">{{card?.type}}</span>
  <span *ngIf="card?.body?.health" class="fltr">
    <span>{{card.body.attack}}</span>
    <img src="/img/icon/attack.20px.png">
    <span>{{card.body.health}}</span>
    <img src="/img/icon/life.20px.png">
  </span>
</div>
<div class="card-text panel">
  <div *ngFor="let power of card?.powers | mapValues">
    <img *ngIf="power.usesturn" src="/img/icon/timer.png">
    <img *ngIf="power.useskill" src="/img/icon/trash.svg">
    <img *ngIf="power.trigger=='sunrise'" src="/img/icon/sunrise.svg">
    <img *ngIf="power.trigger=='sunset'" src="/img/icon/sunset.svg">
    <span *ngFor="let e of power.costs | mapKeys">
      <img *ngFor="let i of Array(power.costs[e]).fill(1)" src="/img/icon/element-{{e}}.png">
    </span>
    <span [innerHTML]="power.text | keepHtml"></span>
  </div>
  <div class="posa talr bot0 fntb" style="font-size:13px">{{card?.text}}</div>
</div>
<div class="card-banner">
  <ng-content></ng-content>
</div>