:host {
  position:absolute;
  width:100%;
}
.splash {
  position:fixed;
  z-index:-1;
  height:100%;
  width:100%;
  background:url(/img/splash.jpg) no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
