<article title="7 Elements Online">
  <div style="display:flex;flex-direction:row;">
    <div class="qlink"><a routerLink="/cards">
      <img>
      Cards
    </a></div>
    <div class="qlink"><a routerLink="/packs">
      <img>
      Packs
    </a></div>
    <div class="qlink"><a routerLink="/decks">
      <img>
      Decks
    </a></div>
    <div class="qlink"><a routerLink="/games">
      <img>
      Games
    </a></div>
  </div>
  <br/>
  <h3>Patch Date: 2018-08-24</h3>
  <br/>
  <h3>People online right now: {{(conn.ping$ | async)?.online}}</h3>
</article>
<article title="First time">
  Click here for an introduction <a routerLink="/intro">/intro</a>
</article>
<article title="Returning players">
  Check back later!
</article>
