<br/><br/>
<article>
  <article-header>7 Elements Online</article-header>
  <article-body>
    Patch Date: 2019-10-07 (database reset)
    <br/><br/>
    <a routerLink="/updates">Click here</a> for patch notes
  </article-body>
</article>
<br/><br/>
<br/><br/>
<article *ngIf="conn.ping$ | async as ping">
  <article-header>People online right now</article-header>
  <article-body>
    {{ping.online}} / {{conn.global$.value.users}}
  </article-body>
</article>
<br/><br/>
<br/><br/>
<article>
  <article-header>Introduction</article-header>
  <article-body>
    <a routerLink="/intro">Click here</a> to learn how to play
  </article-body>
</article>
<br/><br/>
<br/><br/>
<article>
    <article-header>Chat Room</article-header>
  <article-body>
    <a routerLink="/chats">Click here</a> to visit the chat room
  </article-body>
</article>
<br/><br/>
<br/><br/>
