ul.vii-tabs {
	overflow-x: auto;
	width:100%;
	overflow:auto;
	box-shadow: 0px 1px 5px;
}
ul.vii-tabs li {
	border-right:2px solid black;
	display:inline-block;
	float: left;
}
ul.vii-tabs li span {
	top:10px;
	padding:10px;
}
ul.vii-tabs li.active {
	font-family:'Macondo',cursive;
	box-shadow:0px -1px 7px yellow inset;
}
ul.vii-tabs a li:hover {
	background:#777;
}
