<article>
  <article-header>How to?</article-header>
  <article-body>
    This page covers in depth mechanics of the game
    <br/><br/>
    The object of the Game is to reduce your Opponent's Life to 0
    <br/><br/>
    <a routerLink="/intro">Click here</a> to access an introduction
  </article-body>
  <article-footer>
    <a routerLink="/updates">Click here</a> to access the updates history
  </article-footer>
</article>
<br/><br/>
<article>
  <article-header>Gameplay</article-header>
  <article-body>
    Your turn will have several Phases, outlined here
    <br/><br/>
    Each Phase requires a <b>RESPONSE</b> from you!
    <br/><br/>
    This is because you may make a Play before an opponent has had a chance for their Play to fully complete
    <br/><br/>
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Phases</article-header>
  <article-body>
    <ul><img adapt="1" src="/img/icon/sunrise.svg"> &nbsp; <b>Sunrise</b> &nbsp; <i>the start of a turn</i>
      <li><b>Start</b>: Trigger Sunrise Token Powers</li>
      <li>Any Player: Add an Element to Karma; Play Spell Cards; Trigger Token Powers</li>
      <li>My Turn: Karma is re-activated; Draw a Card; <i> in addition to above</i></li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/sun.svg"> &nbsp; <b>Main</b> &nbsp; <i>the body of a turn</i>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
      <li>My Turn: Play Being or Item Cards; Attack with a Being Token; <i> in addition to above</i> </li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/sunset.svg"> &nbsp; <b>Sunset</b> &nbsp; <i>the end of a turn</i>
      <li><b>Start</b>: Trigger Sunset Token Powers</li>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/attack.svg"> &nbsp; <b>Attack</b> &nbsp; <i>being declared an attack</i>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
      <li>Not My Turn: Defend with a Being Token; <i> in addition to above</i> </li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/combat.svg"> &nbsp; <b>Combat</b> &nbsp; <i>defendant declared how it defends</i>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
      <li><b>End</b>: Attacking Token deals Damage (if alive); Defending Token loses Health if alive, else Opponent loses Life</li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/star.svg"> &nbsp; <b>Trigger</b> &nbsp; <i>a play has been made or a power triggered</i>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
    </ul><br/>
    <ul><img adapt="1" src="/img/icon/magnify.svg"> &nbsp; <b>Target</b> &nbsp; <i>selecting a target</i>
      <li>Any Player: Play Spell Cards; Trigger Token Powers</li>
      <li>My Turn: Declare a Target</li>
    </ul>
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Making a Play</article-header>
  <article-body>
    Cards have a <i>cost</i> to Play, and this is paid from your in-game Karma
    <br/><br/>
    You may only play Cards which you have enough Elements to use at the time
    <br/><br/>
    The title panel on each Card displays it's Karmic Cost
    <br/><br/>
    The second panel on each card, below its' photo, displays it's Type, <i>keep reading for more information about Cards</i>
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Karma</article-header>
  <article-body>
    The kinds of Plays that you make are determined by the color of Card that your playing, of these 7 element colors
    <br/><br/>
    <img adapt="1" src="/img/icon/element-1.png">
    <img adapt="1" src="/img/icon/element-2.png">
    <img adapt="1" src="/img/icon/element-3.png">
    <img adapt="1" src="/img/icon/element-4.png">
    <img adapt="1" src="/img/icon/element-5.png">
    <img adapt="1" src="/img/icon/element-6.png">
    <img adapt="1" src="/img/icon/element-7.png">
    <br/><br/>
    Each card played deactivates elements of your Karma
    <br/><br/>
    Each turn, you chooes an Element to add to your Karma
    <br/><br/>
    Elements of your Karma will reactivate again at the start of your turn
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Cards</article-header>
  <article-body>
    Your cards start out in your Future, are drawn into your Hand, and tend towards entering your Past
    <br/><br/>
    Cards are of 3 kinds: Beings, Items, and Spells
    <br/><br/>
    <ul>Playing a Card
      <li>Requires the Game to be in the appropriate Phase</li>
      <li>Requires your Karma to contain the Elements printed the Card</li>
      <li>Causes Elements of your Karma to deactivate</li>
      <li>Cause the Game to enter State <b>Trigger</b></li>
    </ul>
    <br/><br/>
    Playing Being and Item Cards will create Tokens in the Present for your Seat in the Game
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Powers</article-header>
  <article-body>
    Being and Item Tokens, or Spell Plays, may have any number and variety of Powers
    <br/><br/>
    Some Powers are Targeted, meaning they require a Target, as in<br/>
    <b>Target Being</b>&nbsp; &nbsp;<b>Target Player or Being</b>&nbsp; &nbsp;<b>Target Being or Item</b>
    <br/><br/>
    They may require additional Elements to be paid from your Karma
    <br/><br/>
    When a Token has a <img adapt="2" src="/img/icon/timer.png"> Power, it requires the Token to be Awake, and causes the Token to become Asleep
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>That's all folks!</article-header>
  <article-body>
    Thanks for reading
    <br/><br/>
    <a routerLink="/cards">Click here</a> to access the card set
  </article-body>
  <article-footer>
    <ng-container *ngIf="vii.user()">
      <a routerLink="/play">Click here</a> to play a game
    </ng-container>
    <ng-container *ngIf="!vii.user()">
      <a routerLink="/myaccount">Click here</a> to login
    </ng-container>
  </article-footer>
</article>
<br/>
