<!-- overlay menu -->
<overlay *ngIf="overlay && overlay.show()"></overlay>
<vii-play-choice-viewer *ngIf="showChoiceViewer()"></vii-play-choice-viewer>
<!-- stack viewer -->
<vii-play-stack-viewer *ngIf="showStackViewer()"></vii-play-stack-viewer>
<!-- choose layout -->
<div *ngIf="vii.user(); then loggedIn; else loggedOut"></div>
<!-- logged in -->
<ng-template #loggedIn>
  <div *ngIf="state; then showGame; else noGame"></div>
  <!-- show game -->
  <ng-template #showGame>
    <!-- seats -->
    <div class="flx1 flxc" *ngIf="vii.gameready()">
      <app-game-seat *ngFor="let opponent of vii.opponents()" [username]="opponent"></app-game-seat>
      <hr />
      <app-game-seat [username]="vii.user()"></app-game-seat>
    </div>
    <!-- hand -->
    <vii-play-hand></vii-play-hand>

    <!-- old code -->

    <!-- sunrise menu -->
    <!-- <overlay *ngIf="showSunriseOverlay(game)" title="Create a new Element">
      <div class="flexr" style="text-align:center;">
        <button *ngFor="let i of [1,2,3,4,5,6,7]" (click)="sendSunriseElement(game, i)">
          <img src="/img/icon/element-{{i}}.png">
        </button>
      </div>
    </overlay> -->
    <!-- react menu -->
    <!-- <overlay *ngIf="showPlayOverlay(game)"
      title="{{game.state.data.card.username}} played {{game.state.data.card.name}}">
      <app-card-detail [card]="game.state.data.card"></app-card-detail>
      <br /><br />
      <a (click)="sendPass(game)">Dismiss</a>
    </overlay> -->
    <!-- choice menu -->
    <!-- <overlay *ngIf="showChoiceOverlay(game)" title="{{game.state.data.prompt}}">
      <button *ngFor="let i of game.state.data.choices" (click)="sendChoice(game, i.choice)"
        [innerHTML]="i.display"></button>
    </overlay> -->
    <!-- zoom overlay -->
    <!-- <overlay *ngIf="settings.game.overlay.show()" title="settings.game.overlay.title()">
      <div class="flxr">
        <a (click)="settings.game.overlay.reset()">dismiss</a>
      </div>
    </overlay> -->
    <!-- target being overlay -->
    <!-- <overlay *ngIf="settings.game.target && settings.game.target.helper=='being'" title="Target Being">
      <carousel>
        <ng-container *ngFor="let card of game.seats[game.opponent].active | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <hr />
      <carousel>
        <ng-container *ngFor="let card of game.seats[myaccount.username].active | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <div>
        <a (click)="settings.game.target=null">dismiss</a>
      </div>
    </overlay> -->
    <!-- target past-being overlay -->
    <!-- <overlay *ngIf="settings.game.target && settings.game.target.helper=='past-being'" title="Target Being">
      <div>{{game.opponent}}</div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[game.opponent].past | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <hr />
      <div>{{myaccount.username}}</div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[myaccount.username].past | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <div>
        <a (click)="settings.game.target=null">dismiss</a>
      </div>
    </overlay> -->
    <!-- target mypast-being overlay -->
    <!-- <overlay *ngIf="settings.game.target && settings.game.target.helper=='mypast-being'" title="Target Being">
      <div>{{myaccount.username}}</div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[myaccount.username].past | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <div>
        <a (click)="settings.game.target=null">dismiss</a>
      </div>
    </overlay> -->
    <!-- target player-being overlay -->
    <!-- <overlay *ngIf="settings.game.target && settings.game.target.helper=='player-being'" title="Target Body or Player">
      <div>
        <a (click)="clickTarget(game, game.opponent)">{{game.opponent}}</a>
      </div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[game.opponent].active | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <hr />
      <div>
        <a (click)="clickTarget(game, myaccount.username)">{{myaccount.username}}</a>
      </div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[myaccount.username].active | mapValues">
          <app-game-token *ngIf="card.body" [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)">
          </app-game-token>
        </ng-container>
      </carousel>
      <div>
        <a (click)="settings.game.target=null">dismiss</a>
      </div>
    </overlay> -->
    <!-- target being-item overlay -->
    <!-- <overlay *ngIf="settings.game.target && settings.game.target.helper=='being-item'" title="Target Body or Item">
      <div class="fnt1">{{game.opponent}}</div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[game.opponent].active | mapValues">
          <app-game-token [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)"></app-game-token>
        </ng-container>
      </carousel>
      <hr />
      <div class="fnt1">{{myaccount.username}}</div>
      <carousel>
        <ng-container *ngFor="let card of game.seats[myaccount.username].active | mapValues">
          <app-game-token [card]="card" [game]="game" (click)="clickTarget(game, card.gcid)"></app-game-token>
        </ng-container>
      </carousel>
      <div>
        <a (click)="settings.game.target=null">dismiss</a>
      </div>
    </overlay> -->
    <!-- end menu -->
    <!-- <overlay *ngIf="showEndOverlay(game)" title="End Menu">
      <br />
      <ng-container *ngIf="myaccount.username==game.state.data.winner">
        <a (click)="clickEnd(game)">¡You Win!</a>
      </ng-container>
      <ng-container *ngIf="myaccount.username==game.state.data.loser">
        <a (click)="clickEnd(game)">You Lost</a>
      </ng-container>
      <br />
    </overlay> -->
  </ng-template>
  <!-- no game -->
  <ng-template #noGame>
    <vii-queue-form></vii-queue-form>
  </ng-template>
</ng-template>
<!-- logged out -->
<ng-template #loggedOut>
  <article>
    <article-header>Start a New Game</article-header>
    <article-body>
      Please <a routerLink="/myaccount">Click here</a> to login!
    </article-body>
  </article>
</ng-template>
