body {
	--ui:32px;
  --pad:4px;
  --font:18px;
  font-size:18px;
}
[adaptive] {
  height:var(--ui);
}
[adapt~="0"] {
  height:var(--ui);
}
[adapt~="1"] {
  height:calc(var(--ui) * 3 / 4);
}
[adapt~="2"] {
  height:calc(var(--ui) / 2);
}
[adapt~="pad"] {
  padding:var(--pad);
}
h1, .fnt0 {
  font-size:calc(var(--ui) - 5px - var(--pad));
}
h2, .fnt1 {
  font-size:calc(var(--pad) * -2 + var(--ui) - 7px);
}
h3, .fnt2 {
  font-size:calc(var(--ui) / 2 - (var(--pad) / 2) - 4px);
}
