* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
html {
	height:100%;
}
body {
	height:100%;
	user-select:none;
	background:#aaa;
	font-family:'Open Sans',Monaco,monospace;
}
img {
	vertical-align:text-bottom;
}
a {
	color:black;
	cursor:pointer;
	border-bottom-style:solid;
	border-bottom-width:1px;
	text-decoration:none;
	animation:rainbowbox 7s infinite;
	transition:0.7s;
}
a:hover {
	color: transparent;
	background-clip:text;
	-webkit-background-clip:text;
	background-size:1000%;
	background-image:repeating-linear-gradient(
		90deg,
		black,
		white,
		yellow,
		green,
		blue,
		purple,
		red,
		white,
		black
	);
  animation:background-slide 7s infinite;
}
button {
	animation:rainbowbox 7s infinite;
	border-radius:32px;
	background-color:white;
	border-width:2px;
	cursor:pointer;
	box-shadow: 0px 0px 7px #777777;
}
button[disabled] {
	animation:none;
	background-color:#777777;
	border-color:black;
	cursor:default;
	box-shadow:none;
}
button label {
	font-family:'Macondo';
	font-weight:400;
	font-size:var(--font);
	padding:calc(var(--pad));
	cursor:pointer;
}
button[disabled] label {
	cursor:not-allowed;
}
button img {
	margin-top:-2px;
	padding:1px;
}
form {
	display:table;
	width:100%;
}
input {
	border-radius:7px;
}
li {
	margin-left:42px;
}
