.vii-form-group {
	position:relative;
	display:table;
	border-collapse:separate;
	height:60px;
	width:100%;
	margin-bottom:21px;
}
.vii-form-group span {
	display:table-cell;
	padding:7px;
	width:200px;
	text-align:center;
}
.vii-form-group input {
	width:100%;
	height:100%;
	display:table-cell;
	border:1px solid grey;
	border-radius:2px;
}
.vii-form-detail {
	font-size:12px;
}

.form-row {
	display:table-row;
	height:var(--ui);
	width:100%;
}
.form-row > label, .form-row > input {
	padding:var(--pad);
	display:table-cell;
}
.form-row > label {
	text-align:right;
}
.form-row > input {
	border:1px solid #777777;
	border-radius:7px;
	height:100%;
	width:100%;
	font-size:var(--font);
}
