<article>
  <article-header>Welcome to 7 Elements Online</article-header>
  <article-body>
    <h2>This is a brand new online card game</h2>
    <br/>
    It is free to play in your browser. You may play any of the current Free to Play Decks, or collect cards to build your own Decks
    <br/>
    <h2>Play Mode is added 2019-10-07</h2>
    Please continue reading for more information about playing the game
    <br/>
    <h2>In your browser</h2>
    You may save this web page to your Desktop or Homescreen, and it has an icon and extra capabilities
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Introduction</article-header>
  <article-body>
    You begin the game with a Deck of Cards, and these Cards can be used to push and pull the game in your favor
    <br/>
    Each Player begins the game with 7 Health, and when a Players' Health reaches 0, that Player loses. When a Player has no more opponents, they win!
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Playing Cards</article-header>
  <article-body>
    Cards have a <i>cost</i> to play, and this is paid from your in-game Karma. You may only play Cards which you have enough Elements to use at the time.
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Karma</article-header>
  <article-body>
    Each turn, your Karma will add a new Element color. Elements of your Karma will reactivate at the start of each turn
    <br/>
    All Cards have associated Element costs. These costs are paid from your active Karma
    <br/>
    Each turn, before you draw a card, choose any element to add to your available Karma, and it will be active in the same turn, onward
    <br/>
    Each card played deactivates elements of your Karma, but these elements become active again every turn, at Sunrise (start phase), on your turn
  </article-body>
</article>
<ng-container *ngIf="conn.global$ | async as glob">
<br/><br/>
<article>
  <article-header>Being Cards</article-header>
  <article-body>
    These Cards add Beings to the Present, and the Card is also added to your Past. Beings may have abilities, or be used to Attack your opponent, reducing your opponents Health.
    <br/>
    Beings in the Present have active Health. When this reaches 0, the Being is removed from the Present. Beings do not (re-)gain Health unless otherwise specified. Beings Awaken at Sunrise (start phase) on your turn, and are Asleep when they enter the Present.
    <div class="clrl"></div>
    <app-card-detail class="fltl" [card]="glob.cards[0]"></app-card-detail>
    <br/><br/>This Being uses a white Element to play. It also has an ability that it can use each turn, notated by <img adapt="1" src="/img/icon/timer.png">
    <br/>It doesn't have any Attack points, so it shouldn't Attack yet
    <div class="clrl"></div>
    <app-card-detail class="fltr" [card]="glob.cards[3]"></app-card-detail>
    <br/><br/>This Being uses a green Element to play. It has an ability that is triggered every start of your turn, notated by <img adapt="1" src="/img/icon/sunrise.svg">
    <br/>This being can do a lot of damage as it will gain more and more Attack points each turn
    <div class="clrr"></div>
    <app-card-detail class="fltl" [card]="glob.cards[6]"></app-card-detail>
    <br/><br/>This Being uses a black Element to play. It has an ability that it can use, which uses its turn (<img adapt="2" src="/img/icon/timer.png">) and destroys itself, notated by <img adapt="1" src="/img/icon/trash.svg">
    <br/>This Being can be used to remove another Being from the Present
    <div class="clrl"></div>
    <app-card-detail class="fltr" [card]="glob.cards[1]"></app-card-detail>
    <br/><br/><br/>This Being uses a red Element to play. It has an ability that requires a red Element of your Karma to activate, notated by <img adapt="1" src="/img/icon/element-2.png">
    <div class="clrr"></div>
  </article-body>
</article>
<br/><br/>
<article>
  <article-header>Spell Cards</article-header>
  <article-body>
    These cards have effects that take place immediately, and are put into the Past when their effect is complete.<br/>
    <app-card-detail class="fltl" [card]="glob.cards[12]"></app-card-detail>
    <br/><br/><br/><p>This Spell uses a violet Element to play, and can be used to prevent a Being from losing all of its Health</p>
    <div class="clrl"></div>
    <app-card-detail class="fltr" [card]="glob.cards[11]"></app-card-detail>
    <br/><br/><br/><p>This Spell uses a blue Element to play, and can be used to slow your opponent down by making them re-play their Being Card</p>
    <div class="clrr"></div>
    <app-card-detail class="fltl" [card]="glob.cards[9]"></app-card-detail>
    <br/><br/><br/><p>This Spell uses a yellow Element to play, and can be used to Awaken a Being, allowing it to use a Power or Attack again</p>
    <div class="clrl"></div>
  </article-body>
</article>
<br/><br/>
</ng-container>
