<article title="Welcome to 7 Elements Online">
  <h2>This is a brand new online card game</h2>
  <br/>
  <p>Currently, 7 Elements Online is in open beta. The open beta began on 2018-08-24</p>
  <br/>
  <p>Continue reading to learn more about how to play the game</p>
  <br/>
  <div><a [routerLink]="['/cards']">Click here to go to /cards</a></div>
  <br/>
  <h2>In your browser</h2>
  <br/>
  <p>This website shows realtime data from other people! Games you play are played through this very website</p>
  <br/>
  <h2>Free-to-Play</h2>
  <br/>
  <p>Several Free-to-Play decks are available. As you play games, you can collect in-game coins to purchase additional cards. Direct sale of in-game coins (microtransactions) is not yet supported.</p>
  <br/>
  <div><a [routerLink]="['/decks']">Click here to go to /decks</a></div>
  <br/>
</article>
<article title="Introduction to Play">
  <h2>Objective</h2>
  <br/>
  <p>Each player begins the game with 7 Life. When a players' Life reaches 0, that players loses. When a player has no more opponents, they've won!</p>
  <br/>
  <p>You begin the game with a Deck of cards, and these cards can be used to push and pull the game in your favor</p>
  <br/>
  <h2>There are different types of cards</h2>
  <br/>
  <p>You can play spells, or summon helpful items and beings</p>
  <br/>
  <p>Items can be used every turn, after you have summoned them</p>
  <br/>
  <p>Beings may have a variety of additional powers, but can also help attack your opponent, and defend your own Life. Beings cannot be used the same turn they are summoned.</p>
  <br/>
  <p>Spells may be played as a reaction to other events. This may be the summoning of a Being or Item, or another Spell!</p>
  <br/>
  <h2>There are different elements</h2>
  <br/>
  <p>All cards have associated element costs. These costs are paid from your active Karma</p>
  <br/>
  <p>Each turn, before you draw a card, choose any element to add to your available Karma, and it will be active in the same turn, onward</p>
  <br/>
  <p>Each card played deactivates elements of your Karma, but these elements become active again every turn, at Sunrise, on your turn</p>
  <br/>
</article>
