<article>
  <article-header>Welcome to 7 Elements Online</article-header>
  <article-body>
    <h2>Introduction</h2>
    <br/>
    <div>This is a tabletop-style online card-based game. Players use Cards to defeat their Opponents.</div>
    <br/>
    <div>In preparation for a game, Players must choose which Deck of Cards to play. Several free-to-play decks are available.</div>
    <br/>
    <div>Players can collect Cards to build their own Decks, and win Coins by playing the game.</div>
  </article-body>
  <article-footer>
    <a routerLink="/updates">Click here</a> to access update history
  </article-footer>
</article>
<br /><br />
<article>
  <article-header>Rules</article-header>
  <article-body>
    <ul>For each Player
      <li>A Deck of Cards is shuffled, resulting order hidden, called Future</li>
      <li>Draw Cards (format variable), called Hand</li>
      <li>Set Starting Life (format variable)</li>
      <li><ul>Choice
          <li>Keep: Proceed</li>
          <li>Mulligan: Put your Hand aside, called Past, Draw Cards (format variable)</li>
      </ul></li>
    </ul>
    <br/>
    <div>The game proceeds by randomly selecting an Active Player</div>
    <br/>
    <ul>Turn Phases
      <li><ul>Sunrise
        <li>All Tokens become Awake</li>
        <li>Active Players' Elements become Active</li>
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>All Players create a new Element (not Active)</li>
        <li>Active Player draws a Card if their Future is not empty</li>
      </ul></li>
      <li><ul>Main
        <li>Active Player may play any type of Cards and activate Abilities</li>
        <li>Active Player may use Awake Beings to Attack</li>
      </ul></li>
      <li><ul>Play
        <li>All Players may play Spell Cards and activate Abilities</li>
      </ul></li>
      <li><ul>Attack
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>Defending Players may use Awake Beings to Combat</li>
        <li>If no Defending Players use any Awake Beings to Combat, go to Combat</li>
      </ul></li>
      <li><ul>Combat
        <li>All Players may play Spell Cards and activate Abilities</li>
        <li>If Defending Being is declared, Attacking Being and Defending Being deal Damage to each other</li>
        <li>If Defending Being is not declared, Attacking Being deals Damage to Defending Player</li>
      </ul></li>
      <li><ul>Sunset
        <li>All Players may play Spell Cards and activate Abilities</li>
      </ul></li>
    </ul>
    <br/>
    <div>At the conclusion of Sunset, the next Player becomes the Active Player at Sunrise</div>
    <br/>
    <div>Reduce your Opponents' Life to 0 to win the game!</div>
  </article-body>
</article>
<br /><br />
<ng-container *ngIf="vii.global$ | async as glob">
  <article>
    <article-header>Being Cards</article-header>
    <article-body>
      These Cards add Being Tokens to the Present, and the Card is added to your Past
      <br /><br />
      Being Tokens in the Present have their own Life, and when this reaches 0, the Being is removed from the Present
      <br /><br />
      Being Tokens in the Present may be Awake or Asleep, and must be Awake to be used
      <br /><br />
      Beings do not (re-)gain Life unless otherwise specified
      <br /><br />
      Being Tokens are Asleep when they enter the Present
      <div class="clrl">
        <br/>
      </div>
      <app-card-detail class="fltl" [card]="glob.cards[2]"></app-card-detail>
      This Being requires a yellow Element to play
      <br/><br/>
      It has 2 Attack, and 2 Life, notated by <img adapt="1" src="/img/icon/attack.32px.png"> and <img adapt="1" src="/img/icon/life.32px.png"> 
      <br/><br/>
      It can be used to attack, and win the game!
      <br/>
      <div class="clrl"></div>
      <app-card-detail class="fltr" [card]="glob.cards[6]"></app-card-detail>
      This Being requires a black Element to play
      <br/><br/>
      It has a Power that can be triggered, notated by <img adapt="1" src="/img/icon/timer.png">
      <br/><br/>
      This Power also removes this Being from the Present, notated by <img adapt="1" src="/img/icon/trash.svg">
      <br/>
      <div class="clrr"></div>
      <!-- <app-card-detail class="fltl" [card]="glob.cards[6]"></app-card-detail>
      <br /><br />This Being uses a black Element to play. It has an ability that it can use, which uses its turn (<img
        adapt="2" src="/img/icon/timer.png">) and destroys itself, notated by <img adapt="1" src="/img/icon/trash.svg">
      <br /><br />This Being can be used to remove another Being from the Present
      <div class="clrl"></div>
      <app-card-detail class="fltr" [card]="glob.cards[1]"></app-card-detail>
      <br /><br /><br />This Being uses a red Element to play. It has an ability that requires a red Element of your
      Karma to activate, notated by <img adapt="1" src="/img/icon/element-2.png">
      <div class="clrr"></div> -->
    </article-body>
  </article>
  <br /><br />
  <article>
    <article-header>Spell Cards</article-header>
    <article-body>
      These cards have effects that take place immediately, and are put into the Past when their effect is complete<br />
      <br/>
      <app-card-detail class="fltl" [card]="glob.cards[12]"></app-card-detail>
      <br/>
      This Spell requires a violet Element to play
      <br/><br/>
      It can be used to prevent a Being from losing all of its Life
      <br/>
      <div class="clrl"></div>
      <!-- <app-card-detail class="fltr" [card]="glob.cards[11]"></app-card-detail>
      <br /><br /><br />
      <p>This Spell uses a blue Element to play, and can be used to slow your opponent down by making them re-play their
        Being Card</p>
      <div class="clrr"></div> -->
      <app-card-detail class="fltr" [card]="glob.cards[8]"></app-card-detail>
      <br/>
      This Spell requires a red Element to play
      <br /><br />
      It can be used reduce the Life of a Being Token
      <br/>
      <div class="clrr"></div>
    </article-body>
  </article>
  <br /><br />
  <article>
    <article-header>Item Cards</article-header>
    <article-body>
      These Cards add Items Tokens to the Present, and the Card is added to your Past
      <br /><br />
      Item Tokens in the Present may be Awake or Asleep, and must be Awake to be used
      <br /><br />
      Item Tokens are Asleep when they enter the Present
      <div class="clrl">
        <br />
      </div>
      <app-card-detail class="fltl" [card]="glob.cards[17]"></app-card-detail>
      <br/>
      This Item requires a green Element to play
      <br/><br/>
      It has a Power that is Triggered at Sunrise ( on the start of every turn ) notated by <img adapt="1" src="/img/icon/sunrise.svg">
      <br/>
      <div class="clrl"></div>
      <app-card-detail class="fltr" [card]="glob.cards[18]"></app-card-detail>
      <br/>
      This Item requires 2 blue Elements to play
      <br/><br/>
      It has an activatable ability that can be used to change your Future, notated by <img adapt="1" src="/img/icon/timer.png">
      <br/>
      <div class="clrr"></div>
    </article-body>
  </article>
  <br /><br />
</ng-container>
<br/><br/>
<article>
  <article-header>Questions?</article-header>
  <article-body>For more information, there is a detailed how-to guide</article-body>
  <article-footer>
    <a routerLink="/how-to">Click here</a> to access the how-to
  </article-footer>
</article>
<br /><br />
