<ng-container *ngIf="pingService.data$ | async as ping">
  <ng-container *ngIf="userService.data$ | async as user">
    <article title="Account Details">
      <div autosize>You have {{user?.coins}} coins</div>
      <div autosize>You have {{user?.cards.length}} cards</div>
      <div autosize>You have {{user?.decks.length}} decks</div>
    </article>
    <article title="Your Cards">
      <app-card-detail *ngFor="let cardid of user?.cards | mapKeys" [card]="pingService.getCard(ping, cardid)"></app-card-detail>
    </article>
    <article title="Your Decks">
      <app-deck-summary *ngFor="let deckid of user?.cards | mapKeys" [deck]="pingService.getDeck(ping, deckid)"></app-deck-summary>
    </article>
  </ng-container>
</ng-container>
<article title="Logout">
  Thanks for visiting, <a href="/api/logout">click here to logout</a>
</article>
