:host {
  padding:var(--pad) calc(var(--pad)*2);
}
.page {
  display:flex;
  background-color:white;
  border:1px solid black;
  padding:var(--pad);
  border-radius:7px;
}
.header {
  padding-left:var(--pad);
  line-height:1.7;
}
.body {
  padding:var(--pad);
  flex:1;
}
.footer {
  text-align:right;
  line-height:1.7;
  padding-right:var(--pad);
}
