#ready-menu, #queue-menu, #start-menu, #game-menu, #elements-menu, #done-menu {
	display:none;
}
.footer {
	position:absolute;
	width:100%;
	height:14%;
	bottom:0px;
	white-space:nowrap;
}
.footer button {
	height:100%;
}

#alert-menu {
	position:fixed;
	right:0px;
	bottom:240px;
	z-index:1;
}
#ready-menu {
	margin-top:60px;
}
#ready-menu-ready {
	margin-left:20px;
}
#ready-menu > span {
	font-size: 21px;
}
#ready-menu-list {
	white-space:nowrap;
	overflow-x:hidden;
}
#ready-menu-list .se-card {
	margin:10px;
}
#ready-menu .footer button {
	width:33%;
}

#start-menu {
	text-align:center;
}
#start-menu > span {
	font-size:32px;
	padding:21px;
}
#start-menu .se-card {
	margin:20px;
}
#start-menu-buttons {
	position:fixed;
	bottom:0px;
	left:45%;
}
#elements-menu {
	position:fixed;
	padding:10px;
	color:white;
	background-color:rgba(0,0,0,0.7);
	left:10%;
	right:10%;
	top:25%;
	bottom:25%;
	text-align:center;
}
#elements-menu span {
	font-size:21px;
}
#game-menu-seats {
	margin-bottom:100px;
}
#game-menu-hand {
	position:fixed;
	white-space:nowrap;
	bottom:0px;
	height:100px;
	width:100%;
}
#game-menu-hand .se-card-spinner {
	overflow-x:visible;
}
#game-menu-hand .se-card-spinner li {
	margin-top:0px;
}
#game-menu-hand .se-card-spinner button {
	height:100px;
}
#game-menu-hand .se-card {
	margin:0px 10px;
	transition:0.2s;
}

#game-menu-defend {
	display:none;
}
.se-card > #game-menu-defend {
	display:initial;
}

#game-menu-pass {
	position:fixed;
	bottom:120px;
	z-index:1;
	border-radius:7px;
}
#game-menu-pass[timer="0"], #game-menu-pass:not([timer]) {
	display:none;
}