<article *ngIf="glob">
  <article-header>Cards</article-header>
  <article-body>
    <ng-container *ngFor="let card of glob.cards">
      <ng-container *ngIf="myaccount&&myaccount.cards&&myaccount.cards[card.id]; else showBasic">
        <app-card-detail [card]="card">
          <div style="padding:7px">x{{myaccount.cards[card.id]}}</div>
        </app-card-detail>
      </ng-container>
      <ng-template #showBasic>
        <app-card-detail [card]="card"></app-card-detail>
      </ng-template>
    </ng-container>
  </article-body>
</article>
